@page "/"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization

<PageTitle>Ana Sayfa</PageTitle>

<div class="intro">
	<div class="intro-left">
		<img src="./img/photo1.png" width="250">
	</div>
	<div class="intro-right">
		<div class="intro-right-head">Lorem Ipsum</div>
		<div class="intro-right-description">
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, pariatur. Laboriosam enim, non
				assumenda illo quaerat quis quidem, reprehenderit qui quia perferendis architecto, illum laudantium
				necessitatibus eius unde eos placeat!
			</p>
			<p>
				Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem accusamus delectus illum voluptate
				mollitia quaerat accusantium inventore modi totam! Quo vel quisquam architecto nulla sequi est, ratione at
				natus? Quos!
				Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa minima eius provident ducimus quo
				praesentium ipsum cumque debitis sed ex amet voluptatibus voluptas doloremque maxime nemo facere, nesciunt
				officia exercitationem!
			</p>
		</div>
	</div>
</div>
<div class="best-sellers">
	<div class="best-sellers-head">
		Çok Satan Ürünler
	</div>
	<div class="best-sellers-main">
		<div class="best-seller-item">
			<img width="100" class="center" src="./img/product1.webp" />
			<div class="best-seller-item-description">
				<div class="item-name">
					<a href="./product-detail.html">Antebella Antep Fıstık Kreması 200 gr</a>
				</div>
				<div class="item-star">
					<div class="item-star-rating">
						4
					</div>
					<div class="item-stars">
						⭐⭐⭐⭐ (457)
					</div>
				</div>
				<div class="item-price">
					199,99 TL
				</div>
			</div>
		</div>

		<div class="best-seller-item">
			<img width="100" class="center" src="./img/product2.webp" />
			<div class="best-seller-item-description">
				<div class="item-name">
					<a href="./product-detail.html">İkinci El OPPO A16</a>
				</div>
				<div class="item-star">
					<div class="item-star-rating">
						5
					</div>
					<div class="item-stars">
						⭐⭐⭐⭐⭐ (19289)
					</div>
				</div>
				<div class="item-price">
					9199,99 TL
				</div>
			</div>
		</div>

		<div class="best-seller-item">
			<img width="100" class="center" src="./img/product1.webp" />
			<div class="best-seller-item-description">
				<div class="item-name">
					<a href="./product-detail.html">Antebella Antep Fıstık Kreması 200 gr</a>
				</div>
				<div class="item-star">
					<div class="item-star-rating">
						4
					</div>
					<div class="item-stars">
						⭐⭐⭐⭐ (457)
					</div>
				</div>
				<div class="item-price">
					199,99 TL
				</div>
			</div>
		</div>

		<div class="best-seller-item">
			<img width="100" class="center" src="./img/product2.webp" />
			<div class="best-seller-item-description">
				<div class="item-name">
					<a href="./product-detail.html">İkinci El OPPO A16</a>
				</div>
				<div class="item-star">
					<div class="item-star-rating">
						5
					</div>
					<div class="item-stars">
						⭐⭐⭐⭐⭐ (19289)
					</div>
				</div>
				<div class="item-price">
					9199,99 TL
				</div>
			</div>
		</div>


		<div class="best-seller-item">
			<img width="100" class="center" src="./img/product1.webp" />
			<div class="best-seller-item-description">
				<div class="item-name">
					<a href="./product-detail.html">Antebella Antep Fıstık Kreması 200 gr</a>
				</div>
				<div class="item-star">
					<div class="item-star-rating">
						4
					</div>
					<div class="item-stars">
						⭐⭐⭐⭐ (457)
					</div>
				</div>
				<div class="item-price">
					199,99 TL
				</div>
			</div>
		</div>
	</div>
</div>
<div class="features">
	<div class="feature">
		<img src="./img/photo2.png" class="feature-img">
	</div>

	<div class="feature">
		<img src="./img/photo2.png" class="feature-img">
	</div>

	<div class="feature">
		<img src="./img/photo2.png" class="feature-img">
	</div>
</div>